body {
  position: relative;
  background: #f4f1e3;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button,
p, span, a {
  font-family: 'IBM Plex Mono';
}

p {
  margin: 0 0 1.4rem;
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: #118ab2;
}

a:hover {
  border-bottom: 1px solid #118ab2;
}

nav {
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
}

main {
  position: relative;
  width: 100%;
  height: 100vh;
  display: block;
}

.map-container {
  height: 100%;
  position: relative;
  width: 34%;
  float: left;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.graph-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.graph-container div {
  display: flex;
  align-items: center;
}

.sentiment-gradient {
  position: absolute;
  right: 1rem;
  top: 20vh;
  height: 16.5rem;
  padding: 1.8rem 0 0;
  z-index: 9999;
  text-align: center;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sentiment-bar {
  width: 0.5rem;
  height: 8rem;
  background: linear-gradient(45deg, #57cee4, #ef4d97);
}

.sentiment-gradient .positive, .sentiment-gradient .negative {
  transform: rotate(90deg);
  text-shadow: 1px 1px 0 #f4f1e3, -1px -1px 0 #f4f1e3, 1px -1px 0 #f4f1e3, -1px 1px 0 #f4f1e3, 1px 1px 0 #f4f1e3;
}

.about-text-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  height: 100vh;
  width: calc(100vw / 3 * 2);
}

.about-text {
  background-color: #f4f1e3;
  border: solid 3px;
  border-radius: 2%;
  border-image-source: linear-gradient(45deg, #57cee4, #ef4d97);
  border-image-slice: 1;
  max-width: 500px;
  transform: translateY(-20%);
  color: #000;
  padding: 1.7rem;
  background-clip: padding-box;
}

.github-link {
  line-height: 2;
  padding: 0.3rem 0 0.2rem;
}

#github-icon {
  width: 1.2rem;
  height: 1.2rem;
  fill: #118ab2;
  margin-left: 0.3rem;
}

.about-button {
  border: 1px solid #000;
  height: 1.6rem;
  cursor: pointer;
  background: #f4f1e3;
  color: #000;
  margin: 2rem;
  padding: 0 1rem 0 1rem;
  border-radius: 3px;
}

.about-button:hover {
  transform: scale(1.3);
  transition: 500ms;
}

.about-button:focus {
  outline: none;
}

.background-map {
  z-index: 1000;
  position: relative;
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-map img {
  height: 95%;
}

.background-map button {
  border: 1px solid #000;
  height: 1.6rem;
  cursor: pointer;
  position: absolute;
  background: #f4f1e3;
  color: #000;
  padding: 0 1rem 0 1rem;
  border-radius: 3px;
}

.background-map button:hover {
  transform: scale(1.3);
  transition: 500ms;
}

.background-map button:focus {
  outline: none;
}

.background-map button .green {
  background: green;
}

.vis-network:focus {
  outline: none;
}
