$background: #f4f1e3;
$accent: #000;
$colour1: #57cee4;
$colour2: #ef4d97;
$colour3: linen;
$colour-link: #118ab2;

body {
  position: relative;
  background: $background;
  height: 100vh;
  width: 100vw;
  // border: red solid 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //overflow: hidden;
}
button,
p,
span,
a {
  font-family: 'IBM Plex Mono';
}
p {
  margin: 0 0 1.4rem;
  line-height: 1.3;
}
a {
  text-decoration: none;
  color: $colour-link;
}
a:hover {
  border-bottom: 1px solid $colour-link;
}

nav {
  z-index: 5000;
  position: absolute;
  // border: blue solid 2px;
  top: 0;
  right: 0;
}

main {
  position: relative;
  // border: coral solid 2px;
  width: 100%;
  height: 100vh;
  display: block;
}

.map-container {
  height: 100%;
  position: relative;
  width: 34%;
  float: left;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // border: 4px solid orange;
}

.graph-container {
  position: absolute;
  height: 100%;
  width: 100%;
  div {
    display: flex;
    align-items: center;
  }
}

.heatmap {
}

.sentiment-gradient {
  position: absolute;
  right: 1rem;
  top: 40vh;
  transform: translateY(-50%);
  height: 16.5rem;
  padding: 1.8rem 0 0;
  z-index: 5000;
  text-align: center;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sentiment-bar {
  width: 0.5rem;
  height: 8rem;
  background: linear-gradient(45deg, $colour1, $colour2);
}
.sentiment-gradient .positive,
.sentiment-gradient .negative {
  transform: rotate(90deg);
  text-shadow: 1px 1px 0 $background, -1px -1px 0 $background,
    1px -1px 0 $background, -1px 1px 0 $background, 1px 1px 0 $background;
}

.about-text-wrapper {
  // border: 10px solid green;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  height: 100vh;
  width: calc(100vw / 3 * 2);
}

.about-text-border {
  display: flex;
  align-items: center;
  max-width: 40em;
  height: fit-content;
  position: relative;
  padding: 2rem 2em;

  $border: 5px;
  color: $accent;
  background: $background;
  background-clip: padding-box; /* !importanté */
  border: solid $border transparent; /* !importanté */
  border-radius: 1em;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(to right, $colour1, $colour2);
  }
}

.github-link {
  line-height: 2;
  padding: 0.3rem 0 0.2rem;
}
#github-icon {
  width: 1.2rem;
  height: 1.2rem;
  fill: $colour-link;
  margin-left: 0.3rem;
}

.about-button {
  border: 1px solid $accent;
  height: 1.6rem;
  cursor: pointer;
  background: $background;
  color: $accent;
  margin: 2rem;
  padding: 0 1rem 0 1rem;
  border-radius: 3px;
  &:hover {
    transform: scale(1.3);
    transition: 500ms;
  }
  &:focus {
    outline: none;
  }
}

.graph-button {
  border: 1px solid $accent;
  height: 1.6rem;
  cursor: pointer;
  background: $background;
  color: $accent;
  margin: 2rem;
  padding: 0 1rem 0 1rem;
  border-radius: 3px;
  &:hover {
    transform: scale(1.3);
    transition: 500ms;
  }
  &:focus {
    outline: none;
  }
}

.background-map {
  z-index: 4000;
  position: relative;
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 95%;
  }

  button {
    border: 1px solid $accent;
    height: 1.6rem;
    cursor: pointer;
    position: absolute;
    background: $background;
    color: $accent;
    padding: 0 1rem 0 1rem;
    border-radius: 3px;
    &:hover {
      transform: scale(1.3);
      transition: 500ms;
    }
    &:focus {
      outline: none;
    }
    .green {
      background: green;
    }
  }
}

.vis-network {
  &:focus {
    outline: none;
  }
}

.heatmap {
  width: 66%;
  height: 100%;
  // z-index: 10000;
  float: right;
}

.sunburst {
  width: 66%;
  height: 100%;
  float: right;
  display: flex;
  justify-content: center;
}

.vis-container {
  // z-index: 4999;
}

.sunburst-container {
  z-index: 3998;
}
