$background: #000;
$accent: #29abe2;

body {
  
  position: relative;
  background: $background;
  height: 100vh;
  width: 100vw;
  // border: red solid 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

nav {
  z-index: 1000;
    position: absolute;
    // border: blue solid 2px;
    top: 0;
    right: 0;
}

main {
 
    position: relative;
    // border: coral solid 2px;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'map graph graph';
}

.map-container {
    height: 100%;
    position: relative;
    grid-area: map;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // border: 4px solid orange;
}

.graph-container {
  position: relative;
  // height: 100%;
  grid-area: graph;
  
  // border: 1px solid limegreen;
  div {
    display: flex;
    align-items: center;
  }
}

.about-text-wrapper {
  // border: 10px solid white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  height: 100vh;
  width: calc(100vw / 3 * 2)
}

.about-text {
  background-color: $background;
  border: 3px solid $accent;
  border-radius: 2%;
  height: 400px;
  max-width: 400px;
  transform: translateY(-20%);
  color: $accent;
  padding: 1rem;
}



.about-button {
    border:1px solid $accent;
    height:1.6rem;
    cursor: pointer;
      background: $background;
      color: $accent;
      margin: 2rem;
      padding: 0 1rem 0 1rem;
      border-radius: 3px;
      &:hover {
        transform: scale(1.3);
        transition: 500ms;
      }
      &:focus {
        outline: none;
      }
}

.background-map {
  position: relative;
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 95%;
  }

  button {

    border:1px solid $accent;
  height:1.6rem;
  cursor: pointer;
    position: absolute;
    background: $background;
    color: $accent;
    padding: 0 1rem 0 1rem;
    border-radius: 3px;
    &:hover {
      transform: scale(1.3);
      transition: 500ms;
    }
    &:focus {
      outline: none;
    }
    .green {
      background: green;
    } 
  }
  
}
